<app-main-menu></app-main-menu>
<app-align-center>
    <form [formGroup]="quoteForm" (submit)="openDialog()">
        <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Quote</mat-label>
            <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" matInput type="text" formControlName="text"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Characters</mat-label>
            <mat-select matInput formControlName="characters" multiple>
                <mat-select-trigger>
                    {{quoteForm.value.characters ? quoteForm.value.characters[0] : ''}}
                    <span *ngIf="quoteForm.value.characters?.length > 1" class="example-additional-selection">
                        (+{{quoteForm.value.characters.length - 1}}
                        {{quoteForm.value.characters?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>
                <mat-option *ngFor="let character of allCharacters" [value]="character">{{character}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <br>
        <button mat-flat-button color="primary" type="submit" [disabled]="!quoteForm.valid || isSubmitting">{{isSubmitting? 'Submitting...' : 'Submit'}}</button>
    </form>
</app-align-center>