<mat-toolbar>
    <mat-toolbar-row>
        <span>Example Angular 9</span>
        <span class="example-spacer"></span>
        <a mat-stroked-button href="https://github.com/roveroniandrea">
            Follow on github? 
            <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up_alt</mat-icon>
        </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <nav mat-tab-nav-bar>
            <a mat-tab-link *ngFor="let link of links" [routerLink]="[link.url]" [active]="activeLink == link.url">
                {{link.label}} </a>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>