<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Star Wars Quotes</span>
        <span class="example-spacer"></span>
        <a mat-stroked-button href="https://github.com/roveroniandrea">
            Follow on github?
            <mat-icon svgIcon="github-logo" aria-hidden="false"></mat-icon>
        </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-flat-button *ngFor="let link of links" [routerLink]="[link.url]"
            [color]="activeLink == link.url? 'accent': ''" class="margin-right8">{{link.label}}</button>
    </mat-toolbar-row>
</mat-toolbar>