<app-main-menu></app-main-menu>
<mat-grid-list cols="1" rowHeight="3:1" *ngIf="randomQuote" class="background-basic">
    <mat-grid-tile class="color-white">
        <div style="width: 60%;">
            <p style="font-size: x-large; line-height: normal; text-align: left; white-space: pre-line">{{randomQuote.text}}</p>
            <p style="font-size: large; text-align: right; line-height: normal;">
                {{randomQuote | charactersQuote}}
            </p>
            <div style="text-align:center; margin-top: 50px;">
                <button mat-flat-button color="primary" (click)="upvoteQuote()" class="margin-right8">
                    <mat-icon *ngIf="quoteLiked; else notLiked">favorite</mat-icon>
                    <ng-template #notLiked>
                        <mat-icon>favorite_border</mat-icon>
                    </ng-template>
                    {{randomQuote.likes}}
                </button>
                <button mat-flat-button *ngFor="let name of randomQuote.characters" color="primary" (click)="getRandomQuoteAboutCharacter()" class="margin-right8">
                    <mat-icon>cached</mat-icon>
                    Another from {{name}}
                </button>
                <button mat-flat-button color="primary" (click)="getRandomQuote()" class="margin-right8">
                    <mat-icon>cached</mat-icon>
                    "I want more"
                </button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>