<app-main-menu></app-main-menu>
<app-align-center *ngIf="randomQuote">
    <div [@fadeIn]="fadeIn? true: false">
        <app-quote-text [quote]="randomQuote"></app-quote-text>
    </div>
    <br>
    <mat-list style="text-align:center; margin-top: 50px;" role="list">
        <mat-list-item role="listitem">
            <button mat-flat-button color="primary" (click)="upvoteQuote()" class="margin-right8 margin-bottom8">
                <mat-icon *ngIf="quoteLiked; else notLiked">favorite</mat-icon>
                <ng-template #notLiked>
                    <mat-icon>favorite_border</mat-icon>
                </ng-template>
                {{randomQuote.likes}}
            </button>
            <button mat-flat-button color="primary" (click)="getRandomQuote()" class="margin-right8 margin-bottom8">
                <mat-icon>cached</mat-icon>
                "I want more"
            </button>
        </mat-list-item>
        <mat-divider [vertical]="true" [inset]="true"></mat-divider>
        <mat-list-item role="listitem">
            <button mat-flat-button *ngFor="let name of randomQuote.characters" color="primary"
                (click)="getRandomQuoteAboutCharacter(name)" class="margin-right8 margin-bottom8">
                <mat-icon>cached</mat-icon>
                Another from {{name}}
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-flat-button color="warn" (click)="reportQuote()" class="margin-right8 margin-bottom8">
                <mat-icon>report_problem</mat-icon>
                Report
            </button>
        </mat-list-item>
    </mat-list>
</app-align-center>